<div class = "col-md-8 col-md-offset-2 text-center box-it-up">
<h1>An Error Occured</h1>

<% stats = [["Request Verb: ",request.request_method],["Request Path: ",request.path], ["Parameters: ", params.map {|key, value| "#{key}: #{value}"}.join("; ")]] %>

<%= erb :_formatted_table, locals: {stats: stats, column_names: ["Params",""], table_id: "errors", identifier: nil} %>
</div>
