
<div class = "col-md-8 col-md-offset-2 box-it-up">
  <%= erb :_statistics_header, locals: { identifier: event_name } %>
  <%= erb :_formatted_table, locals: {stats: stats, column_names: ["Time of Day","Hits"], table_id: "event_stats", identifier: identifier} %>
  <%= erb :_back_to_statistics, locals: {identifier: identifier} %>
</div>
