<div class = "col-md-8 col-md-offset-2 box-it-up text-center">
<%= erb :_single_column_table, locals: {identifier: identifier, element_name: "event", elements: events, property: :name} %>
<%= erb :_back_to_statistics, locals: {identifier: identifier} %>
</div>
