<table id="events" class="table table-hover table-condensed">
  <tr>
    <th><h3>Event breakdown: </h3></th>
  </tr>
    <% @stats[:events].each do |event|%>
    <tr><td>
      <a href="/sources/<%= @client.identifier %>/events/<%= event.name %>"><%= event.name %></a>
    <td></tr>
    <% end %>
</table>
