<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/application.css">
  <title>Nickrinna Rushing the Hour</title>
</head>
<body>
    <div class = "color-me-grey">
    <header class='primary-header container group text-center'>
      <h1 class="title123">Rushing The Hour with Nickrinna!!</h1>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <br><br>
    <footer class="primary-footer container group">
      <div class="col-md-12 text-center">
        <h3 class="glyphicon glyphicon-heart" aria-hidden="true">        </h3>
        <img src="http://i.giphy.com/l4KigEkud4mFRIsGk.gif">
        <h3 class="glyphicon glyphicon-heart" aria-hidden="true">        </h3>
      </div>
    </footer>
     <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
     <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
     <script src='js/bootstrap.js'></script>
   </div>
 </body>
</html>
