
<div class = "col-md-8 col-md-offset-2" id="stats">
  <h1>Statistics for: <%= @client.identifier %></h1>
  <h3>Average response time:</h3>
  <h3>Max response time:</h3>
  <h3>Min response time:</h3>
  <h3>Most frequent request type:</h3>
  <h3>All HTTP verbs used:</h3>
  <h3>Requested URLs:</h3>
  <h3>Web browser breakdown:</h3>
  <h3>OS breakdown:</h3>
  <h3>Screen resolutions:</h3>
</div>
