<% url = "#{client.root_url}\/#{relative_path}" %>
<div class = "col-md-8 col-md-offset-2 box-it-up">

  <%= erb :_statistics_header, locals: { identifier: url } %>
  <%= erb :_formatted_table, locals: {stats: stats, column_names: ["Stats","Values"], table_id: "url_stats"} %>

  <%= erb :_back_to_statistics, locals: {identifier: client.identifier} %>
</div>
